body{
    font-family: 'Courier New', Courier, monospace  ;
    background-color: ghostwhite;
}

.main{
    width: 100%;
    height: 50vw;
    border-top: 1.2vw solid black;
    border-left: 1.6vw solid black;
}

.main h1{
    text-align: center;
}

.main h3{
    text-align: center;
}

.main label{
    font-weight: bolder;
    margin-left: 21.5vw;
}

#createAcc{
    height: 3vw;
    width: 25vw;
    background-color: ghostwhite;
    font-weight: bolder;
    border: .1px solid rgba(0, 0, 0, 0.533);
}

#accType{
    display: none;
}

#custmmerData{
    display: none;
}


form{
    margin-left: 7vw;
    margin-top: 2vw;
}

.formLabel{
font-size: 24px;
color: rgba(0, 0, 0, 0.759) ;
margin-top: 1vw;
text-align: right;
}

input{
    height: 3vw;
    width: 25vw;
    background-color: ghostwhite;
    font-weight: bolder;
    border: .1px solid rgba(0, 0, 0, 0.533);
    margin: .5vw;
}

select{
    height: 3vw;
    width: 25vw;
    background-color: ghostwhite;
    font-weight: bolder;
    border: .1px solid rgba(0, 0, 0, 0.533);
    margin: .5vw; 
    text-align: center;
}

.splitter{
    display: grid;
    grid-template-columns: 37% 60%;
}

.splitter1{
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: right;
}

.submitbtn{
    margin-top: 1.5vw;
    margin-left: 29vw;
}

.acc_dtls{
    font-size: 1.5vw;
    color: rgba(0, 0, 0, 0.678);
    text-align: right;
    margin-top: 0.4vw;
}

.acc_data_formatter{
    height: auto;
    margin-left: 0vw;
}

span{
    text-align: left;
    font-size: 2vw;
    margin-left: 1vw;
    font-weight:500 ;
}

#dep_sav{
    display: none;
}

button{
    height: 3vw;
    width: 25vw;
    background-color: ghostwhite;
    font-weight: bolder;
    border: .1px solid rgba(0, 0, 0, 0.533);
    margin-left: 37.5vw;
    margin-top: 1vw;
}