<div class="container-fluid m-0 p-0">
  <nav class="navbar navbar-expand-lg bg-dark">
    <div class="container">
      <a class="navbar-brand text-white" href="#">Serach Filter</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
        <div class="d-flex" role="search">
          <input class="form-control col-lg-5"  type="search" placeholder="Search" [(ngModel)]="search" aria-label="Search">
          <button class="btn btn-outline-success ms-2" type="submit">Search</button>
        </div>
      </div>
    </div>
  </nav>
  <div class="row m-0 p-0">
    <div class="col-md-8 offset-md-2">
      <table class="table table-dark table-striped mt-5">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of userData | filter:search">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>