

<app-navbar></app-navbar>

   <mat-toolbar class="dark">

    <div class="button-row">
         <button mat-stroked-button>Add Ticket</button>
         <button mat-stroked-button>Dashboard</button>
         <button mat-stroked-button>Report</button>
         <button mat-stroked-button>Route Cause Analysis</button>
      </div>
      
      <div class="mat-form-adjuster">
        <mat-form-field appearance="outline">
            <mat-label> <mat-icon>filter_b_and_w</mat-icon></mat-label>
            <mat-select [(ngModel)]="selectedValue" name="daysFilter">
              <mat-option *ngFor="let daysFilter of daysFilters" [value]="daysFilter.value">
                {{daysFilter.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <form  appearance="outline">
            <input class="gaper" type="text" matInput placeholder="Search" name="search">
            <button matSuffix mat-button><mat-icon >search</mat-icon></button>
        </form>
      </div>
      
      <!-- <p> Selected food: {{selectedValue}} </p> -->
  </mat-toolbar>

  <p>
    <!-- <mat-toolbar > -->
        <!-- <a mat-stroked-button routerLink="/add">Add Ticket</a>
        <a mat-stroked-button routerLink="/dashboard">Dashboard</a>
        <a mat-stroked-button routerLink="/report">Report</a>
        <a mat-stroked-button routerLink="/rca">Root Cause Analysis</a> -->
        <!-- <div class="spacer"></div> -->
        <!-- <form>
          <mat-form-field mat-form-field appearance="outline">
              <input type="text" matInput placeholder="Search" name="search">
              <button matSuffix mat-button><mat-icon >search</mat-icon></button>
          </mat-form-field>
          </form> -->
    <!-- </mat-toolbar> -->
</p>