.mat-toolbar {
    background:hsla(0, 100%, 99%, 0.479) ;
    backdrop-filter: saturate(200%) blur(25px);
    color: hsl(218, 41%, 19%) 80%,
 }

 .spacer {
    flex: 1 1 auto;
  }

p{
   margin-top: 0;
   margin-bottom: 0;
  }